# source
git     /extensions/CairoResource git://github.com/oe-legacy/extensions-CairoResource.git
git-dev /extensions/CairoResource git@github.com:oe-legacy/extensions-CairoResource.git

# win lib
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip

